@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.center_sect {
  @apply max-w-[1300px] mx-auto;
}

.nav_btn {
  @apply uppercase px-2 py-3 border-b border-transparent duration-300 text-slate-600 hover:text-black cursor-pointer text-sm;

  &.active {
    @apply text-green-600 border-green-600;
  }
}

.skeleton_loader {
  @apply animate-pulse bg-slate-200;
}

img {
  @apply w-[100%] h-[100%] object-cover;
}

.gallery_wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.gallery_wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.gallery_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gallery_wrapper::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.gallery_wrapper::-webkit-scrollbar-corner {
  background: transparent;
}

.desc_wrapper {
  @apply flex flex-col gap-3;
  ul {
    @apply flex flex-col gap-3;
  }
}

.spinner {
  @apply inline-block;
  animation: spinAnim 1s infinite linear;
}

@keyframes spinAnim {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
